
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
  }
  
  .navbar-logo img {
    width: 50px; 
  }
  
  .navbar-links {
    display: flex;
    gap: 20px;
  }
  
  .navbar-link {
    color: black;
    text-decoration: none;
    font-weight: lighter;
    font-size: 16px;
  }
  
  .navbar-link:hover {
    color: #f4c542; 
  }
  